/* inside your style.css there should only be classes .class and IDs #id */

.bg {
    background-color: #f2f2f2;
    background-image: url(./media/container_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 20px;
    
}
/* --- 1. The Flexbox Container for Logo --- */
.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;
    margin: 20px auto;
    box-sizing: border-box; /* Ensures padding doesn't break the width */
    width: 100%;
    position: relative; /* Needed for absolute positioning of the pokeball */
}
.logo-container #pokemon-logo {
    width: 72vw;
    max-width: 2000px;
    /* Call the animation */
    /* format: name | duration | timing-function | fill-mode */
    animation: slideInFromLeft 1s ease-out forwards;
    position: relative;
    top: 2vw;
}
/* 1. Define the #pokemon-logo Animation */
@keyframes slideInFromLeft {
    0% {
        /* Where the logo starts when the page just loads */
        transform: translateX(-100vw); /* Pushes it completely off-screen to the left */
        opacity: 0; /* Optional: Makes it invisible at the start for a fade-in effect */
    }
    100% {
        /* Where the logo ends up */
        transform: translateX(0); /* Settles into its normal position */
        opacity: 1; /* Fully visible */
    }
}

.logo-container #pokeball {
    width: 10vw;
    max-width: 300px;
    /* Call the animation */
    /* format: name | duration | timing-function | fill-mode */
    animation: slideInFromTop 1s ease-out forwards;
    position: relative; 
    top: -11vw;
}
/* Define the #pokeball Animation */
@keyframes slideInFromTop {
    0% {
        /* Where the logo starts when the page just loads */
        transform: translateY(-100vh); /* Pushes it completely off-screen to the top */
        opacity: 0; /* Optional: Makes it invisible at the start for a fade-in effect */
    }
    100% {
        /* Where the logo ends up */
        transform: translateY(0); /* Settles into its normal position */
        opacity: 1; /* Fully visible */
    }
}

/* --- 2. The Flexbox Container for Cards --- */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 60vw;
    max-width: 800px;
    min-height: 60vh;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cards-container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(105, 105, 105, 0.3);
    /* to clip child elements (scaled image) that overflow */
    overflow: hidden;
    cursor: pointer;

    /* Add the transition property here so the browser knows to animate the transform */
    /* transition: transform 0.3s ease-in-out; */

    /* Crucial for 3D */
    perspective: 1000px; 
    perspective-origin: center;
}
/* Scales the card up by 3% */
/*  .cards-container .card:hover { transform: scale(1.03); }  */

/* --- 3. The Card Flip --- */
.cards-container .card .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d; 
    /* Allows 3D perspective */
    border-radius: 8px;
}
.cards-container .card .card-inner.flip {
  transform: rotateY(180deg);
  border-radius: 8px;
}
/* Position the front and back side */
.card-front, .card-back {
    /* The front and back elements occupy the same space */
    position: relative;
    width: 100%; 
    height: 100%; 
    /* Safari */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* Hides back when rotated */
}



/* Style the front side */
.card-front { 
   cursor: pointer;
   transform: rotateX(0deg);
    /* Starts face up */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

/* --- 5. The Card Back Content --- */
/* Style the back side */
.card-back {
    background-color: #f6d5bd;
    transform: rotateY(180deg); 
    /* Starts face down */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;   
}
.card-back .back-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-back .back-button-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.card-back .back-button-name h2 { 
    margin: 20px 0 10px 0; 
    font-size: 1.4rem;
    font-weight: bold;
    max-width: 160px;
}
.card-back .back-content p { 
    margin: 0 20px;
    background-color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(105, 105, 105, 0.3);
    font-size: 0.8rem;
    color: #746969; 
    max-width: 160px;
}

/* Card Buttons for Flip and Battle */
/* Style all buttons in card container */
.cards-container .card .card-inner button {
    display: inline-block;
    margin: 4px auto;
    background-color: #2181dc;
    padding: 4px 8px;
    border-radius: 4px;
    border: #0c4983 1px solid;
    box-shadow: 0 2px 2px rgba(3, 46, 115, 0.292);
    font-size: 1rem;
    color: #ffffff;
}
.cards-container .card .card-inner .front-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
}

/* --- 4. The Card Front Image and Info --- */
.cards-container .card .cardimg {
    background-color: rgb(208, 208, 208);
    width: 160px;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    object-fit: contain;
/* Add the transition property here so the browser knows to animate the transform */
    transition: transform 0.2s ease-in-out; 
}

/* The Trigger State (e.g., when the user hovers over the logo) */
.cards-container .card .cardimg:hover {
    transform: scale(1.05); /* Scales the card image up by 5% */
}

.cards-container .card .cardinf {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
    margin: 0;
    width: 90%;
    height: 100px;
}

.cards-container .card .cardinf .pokemon-index { 
    font-size: 0.8rem;
    color: #2181dc;
    text-shadow: 0 0.8px 0.8px rgba(0, 0, 0, 0.2);
}   
.cards-container .card .cardinf .pokemon-name {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 4px 0;
    max-width: 160px;
}
.cards-container .card .card-inner .pokemon-type {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 0.9rem;
    color: #555;
    margin: 16px 0;
}
.cards-container .card .card-inner .pokemon-type .type {
    background-color: #878787;
    padding: 4px 8px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(105, 105, 105, 0.3);
    font-size: 0.8rem;
    color: #ffffff;
}


/* --- MEDIA QUERY --- */

/* --- Tablet (Under 900px) --- */
@media (max-width: 900px) {
    .logo-container { padding: 15px 20px; }

    #pokemon-logo { width: 50vw; max-width: 300px; }

    #pokeball { width: 90px; }
}


/* --- Mobile (Under 600px) --- */
@media (max-width: 600px) {
    .logo-container { padding: 10px 10px; }

    #pokemon-logo { width: 65vw; max-width: 250px; }

    #pokeball { width: 60px; }
}